.delivery{
    height: 41px;
    background-color: #2A254B;
    width: 100%;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    .container{
        display: flex;
        align-items: center;
        gap: 5px;
        justify-content: center;
        height: 100%;
        position: relative;
    }
    img{
        width: 16px;
        height: 16px;
    }
    p{
        color: white;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        max-width: 80%;
    }
    .x-icon{
        position: absolute;
        right: 10px;
    }
}