.differents{
    .container{
        h1{
            text-align: center;
            padding-top: 50px;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            @media screen and (max-width:475px) {
                font-size: 16px;
                font-weight: 900;
                padding-top: 20px;
            }
        }
        ul{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            margin-top: 20px;
            gap: 15px;
            li{
                width: 20%;
                height: 190px;
                background-color: #F9F9F9;
                padding: 25px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                border-left:3px solid #F9F9F9;
                border-right:3px solid #F9F9F9;
                transition: 0.3s;
                img{
                    width: 24px;
                    height: 24px;
                }
                &:hover{
                    border-right:3px solid #2A254B ;
                    border-left:3px solid #2A254B;
                }
                @media screen and (max-width:1000px) {
                    width: 45%;
                }
                @media screen and (max-width:475px) {
                   width: 100%;
                }
            }
            @media screen and (max-width:1000px) {
                flex-wrap: wrap;
            }
            @media screen and (max-width:475px) {
                width: 100%;
            }
        }
    }
}