.main{
    background-image: url(../../assets/img/wooden.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 850px;
    margin-top: 100px;
    .container{
        display: flex;
        justify-content: end;
        align-items: center;
        height: 100%;
        div{
            background-color: white;
            width: 630px;
            height: 444px;
            padding: 55px;
            margin-right: 80px;
            position: relative;
            h1{
                color: #22202E;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                max-width: 480px;
                @media screen and (max-width:475px) {
                    font-size: 24px;
                    margin-top: 20px;
                }
            }
            p{
                color: #5B5676;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                margin-top: 20px;
                @media screen and (max-width:475px) {
                   font-size: 16px;
                }
            }
            button{
                padding: 16px 32px;
                background-color: #F9F9F9;
                color: #2A254B;
                border:  1px solid #F9F9F9;
                position: absolute;
                top: 80%;
                transition: 0.2s;
                box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
                &:hover{
                    border: 1px solid #5B5676;
                }
                &:active{
                    color: white;
                    background-color:  #2A254B;
                    transform: translateY(2px) translateX(2px);
                }
                @media screen and (max-width:475px) {
                    width: 100%;
                    padding: 16px 0;
                    position:static;
                    margin: 32px 0;
                }
            }
            @media screen and (max-width:900px) {
                margin-right: 0;
            }
            @media screen and (max-width:475px) {
                width: 100%;
                padding: 0;
                height: auto;
            }
        }
        @media screen and (max-width:900px) {
            justify-content: center;
        }
        @media screen and (max-width:475px) {
            flex-direction: column;
            
        }
    }
    img{
        @media screen and (min-width:475px) {
           display: none;
        }
        width: 100%;
    }
    @media screen and (max-width:475px) {
        background-image: none;
        height: auto;
    }
}